## This is the etherpad connection ###

https://public.etherpad-mozilla.org/p/ABC_PYTHON_2019

## This material is adjusted from Software carpentry and can be found here.  
http://swcarpentry.github.io/python-novice-gapminder/

# Running and Quitting

#### Questions you should be able to answer after this session
* How can I run a Python program and Jupyter Notebooks?

#### Objectives
* Launch the Jupyter Notebook, create new notebooks, and exit the Notebook.
* Create Markdown cells in a notebook.
* Create and run Python cells in a notebook.

#### Difference in file extensions
* python programs are in plain text and by convention end in **.py**
* in the following session and tomorrow afternoon we will use [jupyter notebook](https://jupyter.org/) as it nice to get to know python interactively and to mix code with comments + figures as shown here.
* jupyter notebook comes within the [Anaconda](http://docs.continuum.io/anaconda/install/) package manager so you should be good to go.

This is the github for Benjamin's section.

https://github.com/BenjaminSchwessinger/ABC_python

For windows:  
Go to the github page above. Click on download as zip. Move the zip to your desktop. Unzip on the Desktop. Start the Anaconda Navigator. Navigate to the Desktop and the ABC_python-master folder. Start the notebook 05022019_ABC_python_day2_session_4_wo_anwsers by double clicking on it.

For Mac:  
Application -> Terminal

In the terminal do:

git clone git@github.com:BenjaminSchwessinger/ABC_python.git

cd ABC_python

jupyter notebook

This has several advantages:
* You can easily type, edit, and copy and paste blocks of code.
* Tab complete allows you to easily access the names of things you are using and learn more about them.
* **Shift+Tab** let's you access the docstrings of methods and functions.
* It allows you to annotate your code with links, different sized text, bullets, etc. to make it more accessible to you and your collaborators.
* It allows you to display figures next to the code that produces them to tell a complete story of the analysis.

And some disadvantages:
* Is not stored in plain text but JSON format.
* Not the order of the cell but the order of execusion matters.

In [ ]:
%matplotlib inline
from IPython.display import Image

In [ ]:
Image(filename='./fig/0_jupyter_notebook_example.jpg')

#### Code vs. Text
We often use the term “code” to mean “the source code of software written in a language such as Python”. A “code cell” in a Notebook is a cell that contains software; a “text cell” is one that contains ordinary prose written for human beings. 
  
* If you press **"Esc"** and **"Return"** alternately, the outer border of your code cell will change from gray/blue to green. 
* These are the **Command** (blue) and **Edit** (green) modes of your notebook.
* In Command mode, pressing the **"H"** key will provide a list of all the shortcut keys.
* Command mode allows you to edit notebook-level features, and Edit mode changes the content of cells.
* When in Command mode (esc/blue),

    * The **"B"** key will make a new cell below the currently selected cell.
    * The **"A"** key will make one above.
    * The **"X"** key will delete the current cell.
    * The **"Z"** key will undo your last cell deletion.
* All actions can be done using the menus, but there are lots of keyboard shortcuts to speed things up.
* If you remember the **"Esc"** and **"H"** shortcut, you will be able to find out all the rest.

#### Excerise I
In the Jupyter notebook page are you currently in Command or Edit mode?
Switch between the modes. Use the shortcuts to generate a new cell. Use the shortcuts to delete a cell

#### Use the keyboard and mouse to select and edit cells.

* Pressing the **"Return"** key turns the border green and engages Edit mode, which allows you to type within the cell.
* Because we want to be able to write many lines of code in a single cell, pressing the **"Return"** key when in Edit mode (green) moves the cursor to the next line in the cell just like in a text editor.
* We need some other way to tell the Notebook we want to run what’s in the cell.
* Pressing **"Shift+Return"** together will execute the contents of the cell.
* Notice that the **"Return"** and **"Shift"** keys on the right of the keyboard are right next to each other.

#### The Notebook will turn Markdown into pretty-printed documentation.

* Notebooks can also render [Markdown](https://en.wikipedia.org/wiki/Markdown). Nice cheatsheet [here](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)
    * A simple plain-text format for writing lists, links, and other things that might go into a web page.
    * Equivalently, a subset of HTML that looks like what you’d send in an old-fashioned email.
* Turn the current cell into a Markdown cell by entering the Command mode (**"Esc"**/blue) and press the **"M"** key.
* In [ ]: will disappear to show it is no longer a code cell and you will be able to write in Markdown.
* Turn the current cell into a Code cell by entering the Command mode (**"Esc"**/blue) and press the **"Y"** key.

#### Markdown does most of what HTML does.

*   Use asterisks
*   to create
*   bullet lists.

*   Use asterisks
*   to create
*   bullet lists.

1.  Use numbers
1.  to create
1.  numbered lists.

1.  Use numbers
1.  to create
1.  numbered lists.

*  You can use indents
	*  To create sublists 
	*  of the same type
*  Or sublists
	1. Of different
	1. types

*  You can use indents
	*  To create sublists 
	*  of the same type
*  Or sublists
	1. Of different
	1. types

# A Level-1 Heading

# A Level-1 Heading

## A Level-2 Heading (etc.)

## A Level-2 Heading (etc.)

Line breaks
don't matter.

But blank lines
create new paragraphs.

And two spaces with line break folds the end.  
Hurray.

Line breaks
don't matter.

But blank lines
create new paragraphs.  
And two spaces with line break folds the end.  
Hurray.

#### Excerise II


Create a nested list in a Markdown cell in a notebook that looks like this:

    1. Get funding.
    2. Do work.
        o Design experiment.
        o Collect data.
        o Analyze.
    3. Write up.
    4. Publish.

#### Excerise III

What happens if you write some Python in a code cell and then you switch it to a Markdown cell? For example, put the following in a code cell:

In [ ]:
x = 6*7 +12
print(x)

### Key Points
* Python programs are plain text files.
* Use the Jupyter Notebook for editing and running Python.
* The Notebook has Command and Edit modes.
* Use the keyboard and mouse to select and edit cells.
* The Notebook will turn Markdown into pretty-printed documentation.
* Markdown does most of what HTML does.

#### Questions?!!

# Errors
See http://swcarpentry.github.io/python-novice-inflammation/07-errors/index.html for initial lesson. And work from Juan Nunez-Iglesias https://github.com/aspp-apac/2019-debugging

#### Questions
* How does Python report errors?
* How can I handle errors in Python programs?

#### Objectives
* To be able to read a traceback, and determine where the error took place and what type it is.
* To be able to describe the types of situations in which syntax errors, indentation errors, name errors, index errors, and missing file errors occur.

#### Index Error

In [ ]:
data = [1, 2, 3]

#### Key Error

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}

#### Syntax Error

In [ ]:
def foo    
    return x*x

#### Identation Error

In [ ]:
def return_and_print(string):
    for x in string:
        print(x)
     return(x)

#### TabError

In [ ]:
def some_function():
	msg = "hello, world!"
	print(msg)
        return msg

#### Missing file error

In [ ]:
with open('nonexistent-file.txt', mode='r') as fin:
    for line in fin:
        print(line)

#### Exercise
1. Read the code below, and (without running it) try to identify what the errors are.
2. Run the code, and read the error message. Is it a SyntaxError or an IndentationError?
3. Fix the error.
4. Repeat steps 2 and 3, until you have fixed all the errors.

def another_function
  print("Syntax errors are annoying.")
   print("But at least Python tells us about them!")
  print("So they are usually not too hard to fix.")

seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print('My favorite season is ', seasons[4])

### Key Points


* Tracebacks can look intimidating, but they give us a lot of useful information about what went wrong in our program, including where the error occurred and what type of error it was.

* An error having to do with the ‘grammar’ or syntax of the program is called a **SyntaxError**. If the issue has to do with how the code is indented, then it will be called an **IndentationError**.

* A **NameError** will occur if you use a variable that has not been defined, either because you meant to use quotes around a string, you forgot to define the variable, or you just made a typo.

* Containers like lists and strings will generate errors if you try to access items in them that do not exist. This type of error is called an **IndexError**.

* Trying to read a file that does not exist will give you an **FileNotFoundError**. Trying to read a file that is open for writing, or writing to a file that is open for reading, will give you an **IOError**.

# Reading Tabular Data into DataFrames

#### Questions you should be able to answer after this session
* How can I read tabular data?

#### Objectives
* Import the Pandas library.
* Use Pandas to load a simple CSV data set.
* Get some basic information about a Pandas DataFrame.

#### Use the Pandas library to do statistics on tabular data.
* Pandas is a widely-used Python library for statistics, particularly on tabular data.

In [1]:
#import the pandas library with an alias pd
import pandas as pd

In [4]:
#store one of the datasets in the variable data and print it e.g. oceania
data = pd.read_csv('./data/gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [5]:
#nice visulization within notebooks
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

#### Don't mind the errors.

Errors:
FileNotFoundError: File b'gapminder_gdp_oceania.csv' does not exist

In [6]:
#now index it proper with using the index_col and check what else read_csv
#can do (? and shift-tab) or help()
data = pd.read_csv('./data/gapminder_gdp_oceania.csv', index_col='country')
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [7]:
#look at the info()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [8]:
#how to access the column names
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [9]:
#to transform data use .T
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [11]:
#use describe to get some summary stats about the data
data.T.describe()

country     Australia   New Zealand
count       12.000000     12.000000
mean     19980.595634  17262.622813
std       7815.405220   4409.009167
min      10039.595640  10556.575660
25%      13948.900203  14141.858698
50%      18905.603395  16933.064050
75%      24318.059265  19517.996910
max      34435.367440  25185.009110

#### Excerise IV
Read the data in **gapminder_gdp_americas.csv** (which should be in the same directory as gapminder_gdp_oceania.csv, which is the data directory './data') into a variable called **americas** and display its summary statistics.

In [12]:
americas = pd.read_csv('./data/gapminder_gdp_americas.csv', index_col='country')

In [14]:
americas.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

#### Excerise V
After reading the data for the Americas, use **help(americas.head)** and **help(americas.tail)** to find out what **DataFrame.head** and **DataFrame.tail** do.
 1. What method call will display the first three rows of this data?
 2. What method call will display the last three columns of this data? (Hint: you may need to change your view of the data.)

In [19]:
#head 3
americas.head(n=3)

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825

In [23]:
#how to access individual columns e.g. americas.gdpPercap_1952
americas['gdpPercap_1952']

country
Argentina               5911.315053
Bolivia                 2677.326347
Brazil                  2108.944355
Canada                 11367.161120
Chile                   3939.978789
Colombia                2144.115096
Costa Rica              2627.009471
Cuba                    5586.538780
Dominican Republic      1397.717137
Ecuador                 3522.110717
El Salvador             3048.302900
Guatemala               2428.237769
Haiti                   1840.366939
Honduras                2194.926204
Jamaica                 2898.530881
Mexico                  3478.125529
Nicaragua               3112.363948
Panama                  2480.380334
Paraguay                1952.308701
Peru                    3758.523437
Puerto Rico             3081.959785
Trinidad and Tobago     3023.271928
United States          13990.482080
Uruguay                 5716.766744
Venezuela               7689.799761
Name: gdpPercap_1952, dtype: float64

In [29]:
#how do access the index of a max/min column
americas[americas['gdpPercap_1952'] == americas['gdpPercap_1952'].min()].index[0]

'Dominican Republic'

#### Excerise VI
* What is the country with the lowest gdp in 2007?
* What is the mean gdp in 2002?
* What is the fold difference between the mean gdp in 2002 and the higest gdb in 2007?

In [32]:
americas[americas['gdpPercap_2007'] == americas['gdpPercap_2007'].min()].index[0]

'Haiti'

In [34]:
americas[americas['gdpPercap_2002'] == americas['gdpPercap_2002'].mean()]

Empty DataFrame
Columns: [continent, gdpPercap_1952, gdpPercap_1957, gdpPercap_1962, gdpPercap_1967, gdpPercap_1972, gdpPercap_1977, gdpPercap_1982, gdpPercap_1987, gdpPercap_1992, gdpPercap_1997, gdpPercap_2002, gdpPercap_2007]
Index: []

In [37]:
mean_2007 = americas['gdpPercap_2002'].mean()

In [35]:
max_2007 = americas['gdpPercap_2002'].max()

In [38]:
max_2007 / mean_2007

4.209567053013284

#### Excerise VII
As well as the **read_csv** function for reading data from a file, Pandas provides a **to_csv** function to write dataframes to files. Applying what you’ve learned about reading from files, write one of your dataframes to a file called **processed.csv** in the **./data** folder. You can use **help** to get information on how to use **to_csv**.

In [42]:
americas.to_csv?

In [41]:
americas.to_csv('./data/processed.csv')

In [ ]:
#use ?

In [ ]:
#use help() function

### Key points


* Use the Pandas library to get basic statistics out of tabular data.
* Use index_col to specify that a column’s values should be used as row headings.
* Use DataFrame.info to find out more about a dataframe.
* The DataFrame.columns variable stores information about the dataframe’s columns.
* Use DataFrame.T to transpose a dataframe.
* Use DataFrame.describe to get summary statistics about data.

# More on Pandas DataFrames

#### Questions you should be able to answer after this session
* How can I slice, filter, and manipulate my data in a dataframe to do statistical analysis?

#### Objectives

* Select individual values from a Pandas dataframe.
* Select entire rows or entire columns from a dataframe.
* Select a subset of both rows and columns from a dataframe in a single operation.
* Select a subset of a dataframe by a single Boolean criterion.

#### Side note about Pandas DataFrames/Series
A [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) is a collection of [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html); The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column.

Pandas is built on top of the [Numpy](http://www.numpy.org/) library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

In [ ]:
%matplotlib inline
from IPython.display import Image
import pandas as pd

#### Selecting values

In [ ]:
#now read in europe for this one
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

In [ ]:
#show head again

In [ ]:
#use iloc by entry position (exlusive)

In [ ]:
#use loc by index and column name (inclusive)

In [ ]:
#now print all columnns for Albania. Consider outcompletion

In [ ]:
#get all values for a specific year

In [ ]:
#now use dot access of columns

In [ ]:
#select data for certain years and countries 'Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'

In [ ]:
#select subsets and apply functions e.g. max()

#### Filter dataframes using Boolean masks
* apply an comparison element per element
* returns an identically shaped "True/False" dataframe

In [ ]:
# Use a subset of data to keep output readable.
subset =

In [ ]:
#print subset dataframe
print('Subset of data:\n', subset)

In [ ]:
# Which values were greater than 10000 e.g. subset > 10000 ?
print('\nWhere are values large?\n', ___)

In [ ]:
#make a mask to filter the subset dataframe

In [ ]:
#use mask to filter subset e.g. subset[mask]

* Get the value where the mask is true, and NaN (Not a Number) where it is false.
* Useful because NaNs are ignored by operations like max, min, average, etc.

In [ ]:
#use describe to illustrate the NaN here.

#### Select-Apply-Combine operations

Pandas vectorizing methods and grouping operations are features that provide users much flexibility to analyse their data.

For instance, let’s say we want to have a clearer view on how the European countries split themselves according to their GDP.

1. We may have a glance by splitting the countries in two groups during the years surveyed, those who presented a GDP higher than the European average and those with a lower GDP.
1. We then estimate a wealthy score based on the historical (from 1962 to 2007) values, where we account how many times a country has participated in the groups of lower or higher GDP

#talk people through at the board.
data.gdpPercap_1952.apply(lambda x: x> data.gdpPercap_1952.mean())

In [ ]:
#create a higher mask
mask_higher = 
mask_higher

In [ ]:
#aggregate the sum across the columns axis=1 e.g. mask_higher.aggregate('sum',axis=1)

#### How does pandas handle axis

In [ ]:
Image(filename='./fig/pandas_axis.png', height=800, width =800 )

In [ ]:
#now generate the wealth_score as % of times the country has been above the mean gdp of europe using e.g. /len(data.columns)*100, 0
wealth_score =

In [ ]:
#make a new column of the wealth_score

In [ ]:
#now groupby Wealth_score and count how many there are

In [ ]:
#now groupby wealth score and sum in each category

#### Exercise VIII
Import the gapminder for Europe (again) into the variable **europe**. Write an expression that gives you the GDP for 2007 for the country Serbia.

In [ ]:
#use read_csv and loc or iloc

#### Exercise IX
1. Do the two statements below produce the same output?
1. Based on this, what rule governs what is included (or not) in numerical slices and named slices in Pandas?

In [ ]:
#use this command below to check how the dataframe is setup
europe.head()

print(europe.iloc[0:2, 0:2])
print(europe.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])

#### Exercise X
explain what each of the following does e.g. **first**, **second**, etc.?

first = pd.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')

#### Exercise X
Explain in simple terms what **idxmin** and **idxmax** do. Use the **data** dataframe we generate here. When would you use these methods? When can these methods be an issue?

In [ ]:
print(data.idxmin())
print(data.idxmax())

#### Exercise XI
Use the europe dataframe you are generated before and try to answer the following question. Write an expression to select each of the following:

1. GDP per capita for all countries in 1982.
1. GDP per capita for Denmark for all years.
1. GDP per capita for all countries for years after 1985.
1. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.
    * Make this a new column called "Growth_1952-2007".
    * Which country had the biggest growth.

In [ ]:
#check out the columns to see their names

In [ ]:
#or use the head method to see how the dataframe looks like

In [ ]:
#GDP per capita for all countries in 1982.

In [ ]:
#GDP per capita for Denmark for all years.

In [ ]:
#GDP per capita after 1985

In [ ]:
#GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.
#Make this a new column called "Growth_1952-2007".

In [ ]:
#Which country had the biggest growth